### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import os
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
num_schools = len(school_data)                   #number of schools
num_students = len(student_data)                 #number of students
total_budget = school_data['budget'].sum()       #total district budget

#average math score, sum of math score/num students
avg_math = (student_data['math_score'].sum() / num_students) 
avg_math = round(avg_math,2)

#average readign score, sum of read/num students
avg_read = (student_data['reading_score'].sum() / num_students)
avg_read = round(avg_read, 2)

#calculate students with a math score of 70 and over
math_seventy = (len(student_data[student_data.math_score >= 70]) / num_students) *100
math_seventy = round(math_seventy, 2)

#calculate 
read_seventy = (len(student_data[student_data.reading_score >=70])/ num_students) *100
read_seventy = round(read_seventy, 2)

#calculate percent student with math & reading score 70 and over
math_read_seventy = (len(student_data[(student_data.math_score >=70) & 
                                     (student_data.reading_score >=70)]) /num_students) *100

math_read_seventy = round(math_read_seventy, 2)

#create new dataframe for the district results 
results_dict = {'Number of Schools': [num_schools], 'Number of Students':[num_students], 'Total Budget':[total_budget],
              'Avg Math Score':[avg_math], 'Avg Reading Score':[avg_read], 'Passing Math %':[math_seventy], 
              'Passing Reading':[read_seventy], 'Passing Reading/Math':[math_read_seventy]}

results_df = pd.DataFrame (results_dict)
results_df

,Number of Schools,Number of Students,Total Budget,Avg Math Score,Avg Reading Score,Passing Math %,Passing Reading,Passing Reading/Math
0,15,39170,24649428,78.99,81.88,74.98,85.81,65.17

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [3]:
school_summary_df = school_data[["school_name", "type", "size", "budget"]]

In [4]:
school_summary_df["Per Student Budget"] = school_summary_df["budget"]/(school_summary_df["size"])

In [5]:
# school_summary_df["Average Math Score"] = student_data[student_data.math_score].groupby(['school_name']).mean()
mean_student_data = round (student_data.groupby(['school_name']).mean(),2)
school_summary_df = pd.merge(mean_student_data, school_summary_df, how = "right", on = ["school_name", "school_name"])

In [6]:
del school_summary_df['Student ID']
school_summary_df.rename(columns ={"reading_score": "Average Reading Score", "math_score":"Average Math Score", 
                                  "budget":"Total School Budget", "type":"School Type", "size":"Total_Students"})

,school_name,Average Reading Score,Average Math Score,School Type,Total_Students,Total School Budget,Per Student Budget
0,Bailey High School,81.03,77.05,District,4976,3124928,628.0
1,Cabrera High School,83.98,83.06,Charter,1858,1081356,582.0
2,Figueroa High School,81.16,76.71,District,2949,1884411,639.0
3,Ford High School,80.75,77.10,District,2739,1763916,644.0
4,Griffin High School,83.82,83.35,Charter,1468,917500,625.0
5,Hernandez High School,80.93,77.29,District,4635,3022020,652.0
6,Holden High School,83.81,83.80,Charter,427,248087,581.0
7,Huang High School,81.18,76.63,District,2917,1910635,655.0
8,Johnson High School,80.97,77.07,District,4761,3094650,650.0
9,Pena High School,84.04,83.84,Charter,962,585858,609.0
10,Rodriguez High School,80.74,76.84,District,3999,2547363,637.0
11,Shelton High School,83.73,83.36,Charter,1761,1056600,600.0
12,Thomas High School,83.85,83.42,Charter,1635,1043130,638.0
13,Wilson High School,83.99,83.27,Charter,2283,1319574,578.0
14,Wright High School,83.96,83.68,Charter,1800,1049400,583.0

In [7]:
passing_math_count_df = school_data_complete[school_data_complete.math_score >=70].groupby(['school_name']).count()
school_summary_df = pd.merge(school_summary_df, passing_math_count_df["math_score"], how="left", 
                           on = ["school_name","school_name"])
school_summary_df['math_score_y'] = round (school_summary_df['math_score_y'] / school_summary_df['size'] * 100, 2)
#I do not understand why my columns are reverting to their original names with x and y appended

In [8]:
passing_reading_count_df = school_data_complete[school_data_complete.reading_score >=70].groupby(['school_name']).count()
school_summary_df = pd.merge(school_summary_df, passing_reading_count_df["reading_score"], how="left", 
                           on = ["school_name","school_name"])

school_summary_df['reading_score_y'] = round (school_summary_df['reading_score_y'] / school_summary_df['size'] * 100, 2)

In [9]:
overall_passing_df = school_data_complete[(school_data_complete.math_score >= 70) & 
                                          (school_data_complete.reading_score >=70)].groupby(['school_name']).count()

school_summary_df = pd.merge(school_summary_df, overall_passing_df["grade"], how = "left", 
                            on = ["school_name","school_name"])

In [10]:
school_summary_df

,school_name,reading_score_x,math_score_x,type,size,budget,Per Student Budget,math_score_y,reading_score_y,grade
0,Bailey High School,81.03,77.05,District,4976,3124928,628.0,66.68,81.93,2719
1,Cabrera High School,83.98,83.06,Charter,1858,1081356,582.0,94.13,97.04,1697
2,Figueroa High School,81.16,76.71,District,2949,1884411,639.0,65.99,80.74,1569
3,Ford High School,80.75,77.10,District,2739,1763916,644.0,68.31,79.30,1487
4,Griffin High School,83.82,83.35,Charter,1468,917500,625.0,93.39,97.14,1330
5,Hernandez High School,80.93,77.29,District,4635,3022020,652.0,66.75,80.86,2481
6,Holden High School,83.81,83.80,Charter,427,248087,581.0,92.51,96.25,381
7,Huang High School,81.18,76.63,District,2917,1910635,655.0,65.68,81.32,1561
8,Johnson High School,80.97,77.07,District,4761,3094650,650.0,66.06,81.22,2549
9,Pena High School,84.04,83.84,Charter,962,585858,609.0,94.59,95.95,871
10,Rodriguez High School,80.74,76.84,District,3999,2547363,637.0,66.37,80.22,2119
11,Shelton High School,83.73,83.36,Charter,1761,1056600,600.0,93.87,95.85,1583
12,Thomas High School,83.85,83.42,Charter,1635,1043130,638.0,93.27,97.31,1487
13,Wilson High School,83.99,83.27,Charter,2283,1319574,578.0,93.87,96.54,2068
14,Wright High School,83.96,83.68,Charter,1800,1049400,583.0,93.33,96.61,1626

In [11]:
school_summary_df['grade'] = round (school_summary_df['grade'] / school_summary_df['size'] *100, 2)
school_summary_df
school_final_df = school_summary_df.rename(columns ={"reading_score_x": "Average Reading Score", "math_score_x":"Average Math Score", 
                                "budget":"Total School Budget", "type":"School Type", "size":"Total_Students", 
                                "math_score_y":"% Passing Math", "reading_score_y":"% Passing Reading", 
                               "grade":"% Overall Passing", "school_name":"School Name"})

In [12]:
school_final_df.set_index("School Name")

,Average Reading Score,Average Math Score,School Type,Total_Students,Total School Budget,Per Student Budget,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Bailey High School,81.03,77.05,District,4976,3124928,628.0,66.68,81.93,54.64
Cabrera High School,83.98,83.06,Charter,1858,1081356,582.0,94.13,97.04,91.33
Figueroa High School,81.16,76.71,District,2949,1884411,639.0,65.99,80.74,53.20
Ford High School,80.75,77.10,District,2739,1763916,644.0,68.31,79.30,54.29
Griffin High School,83.82,83.35,Charter,1468,917500,625.0,93.39,97.14,90.60
Hernandez High School,80.93,77.29,District,4635,3022020,652.0,66.75,80.86,53.53
Holden High School,83.81,83.80,Charter,427,248087,581.0,92.51,96.25,89.23
Huang High School,81.18,76.63,District,2917,1910635,655.0,65.68,81.32,53.51
Johnson High School,80.97,77.07,District,4761,3094650,650.0,66.06,81.22,53.54
Pena High School,84.04,83.84,Charter,962,585858,609.0,94.59,95.95,90.54
Rodriguez High School,80.74,76.84,District,3999,2547363,637.0,66.37,80.22,52.99
Shelton High School,83.73,83.36,Charter,1761,1056600,600.0,93.87,95.85,89.89
Thomas High School,83.85,83.42,Charter,1635,1043130,638.0,93.27,97.31,90.95
Wilson High School,83.99,83.27,Charter,2283,1319574,578.0,93.87,96.54,90.58
Wright High School,83.96,83.68,Charter,1800,1049400,583.0,93.33,96.61,90.33

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type